body {
  font-size: 20px;
}
h1 {
  font-family: Georgia;
  text-align: center;
}
h2 {
  font-family: Taboha;
  text-align: center;
}
p {
  font-family: Arial;
  text-align: center;
}
h6 {
  font-family: 'Courier New';
  text-align: center;
}
